div {
    text-align: center;
   
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    transition: transform 0.3s ease-in-out; /* Añade una transición a la propiedad transform */
  }
  
  /* Añade el estilo hover para la animación */
  h2:hover {
    transform: scale(1.1); /* Puedes ajustar el valor según tus preferencias para la escala */
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    animation: bounce 1s infinite; /* Aplica la animación con duración de 1 segundo y se repite infinitamente */
  }
  
  h2:hover {
    animation: none; /* Detiene la animación cuando el mouse está sobre el elemento */
  }