#root {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.bienvenida{
  font-family:monospace;
  font-size: large;
  padding: 10px 450px 20px 450px;
}

.me-auto{
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  margin-top: 15px;
  padding: 2em;
}

.read-the-docs {
  color: #888;
}